@import "./variables";
@import "./roll_animation";


.absolute{
    position: absolute;
}

.bg_transparent{
    background: transparent;
}

.bg_lightshade{
    background: $light_shades;
}

.z0{
    z-index: 0;
}

#selection_holder{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hexagon {
    width: min(69vh,69vw);
	height: min(calc(69vh * 1.73205080757 / 2),calc(69vw * 1.73205080757 / 2)); /* width*√3/2 */
	clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

#hexagon_border {
	width: min(70vh,70vw);
	height: min(calc(70vh * 1.73205080757 / 2),calc(70vw * 1.73205080757 / 2)); /* width*√3/2 */
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background: $main_color;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hexagon_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

#mid_hexagon{
    animation:roll_animation 4s ease infinite;
    -moz-animation: roll_animation 4s ease infinite;
    -webkit-animation: roll_animation 4s ease infinite;
}




