@import "./variables";

@-moz-keyframes roll_animation{
    0% {
        -moz-transform:  translateX(0vw) rotate(0deg);
        filter: drop-shadow(0px 0px 100px $light_accent_low_opacity)
    }
    50%{
        -moz-transform:  translateX(25vw) rotate(60deg);
        filter: drop-shadow(0px 0px 100px $low_opacity_white)
    }
    100% {
        -moz-transform:  translateX(50vw) rotate(120deg);
        filter: drop-shadow(0px 0px 100px $main_color_low_opacity)
    }
}

@-webkit-keyframes roll_animation{
    0% {
        -webkit-transform:  translateX(0vw) rotate(0deg);
        filter: drop-shadow(0px 0px 100px $light_accent_low_opacity)
    }
    50%{
        -webkit-transform:  translateX(25vw) rotate(60deg);
        filter: drop-shadow(0px 0px 100px $low_opacity_white)
    }
    100% {
        -webkit-transform: translateX(50vw) rotate(120deg);
        filter: drop-shadow(0px 0px 100px $main_color_low_opacity)
    }
}

@keyframes roll_animation{
    0% {
        transform:  translate(0vw) rotate(0deg);
        filter: drop-shadow(0px 0px 100px $light_accent_low_opacity)
    }
    50%{
        transform:  translate(25vw) rotate(60deg);
        filter: drop-shadow(0px 0px 100px $low_opacity_white)

    }
    100% {
        transform:  translate(50vw) rotate(120deg);
        filter: drop-shadow(0px 0px 100px $main_color_low_opacity)
    }
}
