$light_shades: #EBF2EB;
$light_accent: #ECA765;
$light_accent_low_opacity: rgba(236, 167, 101, 0.5);
$main_color: #ac7ea0;
$low_opacity_green:  rgba(43, 255, 0, 0.5);
$main_color_low_opacity: rgba(172, 126, 160,0.5);
$dark_accent: #a37a58;
$dark_shades: #2a182d;
$dark_grey: #19181a;
$low_opacity_white: rgba(255, 255, 255, 0.5);