@import "./variables";
@import "./hompage";

// *{
//   background-color: $low_opacity_green;
//   border: 1px solid limegreen;
// }

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: $dark_grey;
    background-color: $dark_grey;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
html{
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}
  
 